<!DOCTYPE html>
<html>
<head>
    <title>Hello vetx.io</title>
</head>
<body>
<h1>Hello from MVEL</h1>
<div>@include{'src/main/resources/templates/mvel/layout.tepml'}</div>
<p>@{context.get('name')}</p>
</body>
</html>